html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

table {
  width: 100%;
  text-align: center;
}

td {
  width: 25%;
}

/* button {
  width: 10%;
  height: 30px;
  font-size: larger;
} */

.Start {
  background-color: #0aec0a;
}

.Stop {
  background-color: rgb(255, 50, 50);
}
.Step{
  background-color: rgb(59, 255, 134);
}
.Restart{
  background-color: yellow;
}

#restart {
  display: none;
}

.test{
  background-color: rgba(161, 20, 255, 0.623);
}
